<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p> Dear <span th:text="${user.firstName}"></span>, </p>

        <p>You have requested to reset your password, please click on the URL
            below to reset it: </p>
        <p>
            <a
                th:with="url=(@{|${baseUrl}/reset/finish?key=${user.resetKey}|})"
                th:href="${url}"
                th:text="${url}"></a>
        </p>

        <p>Regards, </p>
        <i>Bookstore Team</i>
    </body>
</html>
